.para {
    background-color: #ffc0cb;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.para-class{
    font-size: 24px;
}

#IDone {
    color: #0000ff;
    font-size: 36px;
}

#IDtwo {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}

